* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SuperCell Magic";
    src:url("supercell-magic.ttf") format("truetype");
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: "SuperCell Magic";
    src: url("/assets/font/Supercell-Magic\ Regular.ttf") format("truetype");
  }

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.separator {
    position: absolute;
    bottom: -3px; /* Adjust this value to position the line as needed */
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: 1;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    font-family: 'SuperCell Magic';
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #ffc857;
background-image: linear-gradient(316deg, #ffc857 0%, #3e2f5b 74%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

section {
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1 {
    font-family: 'SuperCell Magic', cursive;
    font-size: 70px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
    padding-top: 55px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}


.hero-img img {
    width: 500px;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: white;
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
        border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translate(8px);
}

.hero-text a.ctaa {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 5px;
}
.w3l-index3 {
    height: 100%;
    min-height: 100vh;
    background-color: #3e2f5b;
    background-image: linear-gradient(316deg, #ffc857 0%, #3e2f5b 74%);
    color: #ffffff; /* Text color */
    padding: 100px 0; /* Adjust padding as needed */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.radius-image {
    border-radius: 50%; /* Make image round */
}




.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;

}

.icons i:hover {
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
        transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background-color: #310e68;
background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}


@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .hero-img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px
    }

    .hero-text h5 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
    }

    .hero-text {
        padding-top: 115px;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 560px;
        height: auto;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background-color: #310e68;
background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;

    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px){
    .hero-img{
        width: 100%;
        height: auto;
    }
}